CT_EXPERIMENTAL=y
CT_DEBUG_CT=y
CT_DEBUG_CT_SAVE_STEPS=y
CT_LOCAL_TARBALLS_DIR="${CT_TOP_DIR}/../../archive"
CT_SAVE_TARBALLS=y
CT_PREFIX_DIR="${PWD}../../../output/${CT_TARGET}"
CT_PARALLEL_JOBS=1
CT_LOG_INFO=y
CT_ARCH_ARCH="armv5te"
CT_ARCH_TUNE="arm926ej-s"
CT_ARCH_FLOAT_SW=y
CT_ARCH_arm=y
CT_TARGET_VENDOR="laird"
CT_KERNEL_linux=y
CT_KERNEL_V_3_15=y
CT_BINUTILS_V_2_24=y
CT_LIBC_glibc=y
CT_LIBC_GLIBC_V_2_19=y
CT_CC_V_4_8_3=y
CT_CC_LANG_CXX=y
CT_DEBUG_gdb=y
CT_GDB_NATIVE=y
CT_GDB_V_7_8=y
CT_DEBUG_ltrace=y
CT_LTRACE_V_0_5_3=y
CT_DEBUG_strace=y
CT_STRACE_V_4_5_20=y
CT_GMP_V_5_0_1=y
CT_MPFR_V_3_0_1=y
CT_MPC_V_0_9=y
